@model GestionDeTaller.Models.OrdenesDeMantenimiento

@{
    ViewData["Title"] = "Cancelar";
}

<h1>Confirmar Cancelación de mantenimiento</h1>
<br />
<h4>Por favor digite el motivo de la cancelación y pulse guardar, o pulse "Regresar para cancelar"</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cancelar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MotivoDeCancelacion" class="control-label"></label>
                <input asp-for="MotivoDeCancelacion" class="form-control" />
                <span asp-validation-for="MotivoDeCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm"/>
                <a asp-action="Listar" class="btn btn-outline-primary btn-sm">Regresar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
