@model GestionDeTaller.Models.OrdenesDeMantenimiento

@{
    ViewData["Title"] = "Cancelar";
}

<h1>Confirmar Cancelación de mantenimiento</h1>
<br />
<h4>Por favor digite el motivo de la cancelación y pulse guardar, o pulse "Regresar para cancelar"</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cancelar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MotivoDeCancelacion" class="control-label"></label>
                <input asp-for="MotivoDeCancelacion" class="form-control" />
                <span asp-validation-for="MotivoDeCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Guardar</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cancelar mantenimiento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Desea cancelar este mantenimiento?
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <a asp-action="Listar" class="btn btn-outline-primary btn-sm">Regresar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
