@model GestionDeTaller.Models.OrdenesDeMantenimiento

@{
    ViewData["Title"] = "Terminar";
}

<h1>Confirmar Finalización de mantenimiento</h1>

<h4>¿Desea terminar el mantenimiento? Pulse "Terminar" para continuar o pulse "Regresar" para cancelar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Terminar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Terminar" class="btn btn-outline-primary btn-sm" />
                <a asp-action="Listar" class="btn btn-outline-primary btn-sm">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
